html, body {
  height: 100%;
  margin: 0;
  font-family: 'IBM Plex Mono Regular, sans-serif';
}

.at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.box {
  padding: 9px 9px 12px;
}

.box:hover {
  cursor: pointer;
}

.card {
  padding: 9px 9px 12px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  font-family: 'IBM Plex Mono Regular, sans-serif';
  color: #434343;
  border: 3px solid #9b9b9b;
}

.modeSlider {
  padding: 8px 0px 10px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  font-family: 'IBM Plex Mono Regular, sans-serif';
  background-color: #ffffff;
  color: #434343;
  border: 3px solid #9b9b9b;
}

.card:hover {
  border-color: #333;
}

.card h3 {
  margin: 0;
  color: #333;
  font-size: 18px;
}

.card div {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}


.entryRow {
  max-width: 880px;
  margin: 20px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frame {
  max-width: 100%;
  color: #333;
}

.label {
  font-weight: bold;
  font-family: 'IBM Plex Mono Regular';
}

@keyframes Loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.main {
  background-color: #ecb3b5;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 1.15;
  font-size: 64px;
}

.description {
  font-size: 18px;
}

.loginDialog {
  padding-top: 50px;
  text-align: center;
  width: 500px
}

.loginTitle {
  font-size: 32px;
}

.loginItem {
  padding-top: 15px;
}

.title, .description, .loginTitle {
  font-family: 'IBM Plex Mono Regular';
  text-align: center;
}
